@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Blue-200: hsl(224, 71%, 86%) ;
    --Blue-400: hsl(220, 100%, 64%);
    --Blue-600: hsl(228, 100%, 60%);
    --Blue-700: hsl(228, 99%, 58%) ;  
    --Black: hsl(0, 0%, 0%);
}

body,html{
    height: 100vh;
    background-color: var(--Blue-700);
    font-family: 'inter', 'Times New Roman', Times, serif;
    font-weight: 400;
    scrollbar-width: none;
}
html::-webkit-scrollbar{
    display: none;
}

header{
    position: relative;

    padding: 20px;
    border-bottom: 1px solid var(--Blue-400);
}

header > nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--White);
    align-items: center
}

nav > .logo > a{
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}

.circle{
    font-size: 20px;
}
button.menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
}

.menu-fechado{
    display: none;
}

.menu-aberto{
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    gap: 15px;

    text-align: center;
    width: 100vw;
    background-color: var(--Blue-700);
    font-size: 26px;
    padding: 30px 0px;

    position: absolute;
    left: 0%;
    top: 102%;

}

.menu-aberto > a {
    text-decoration: none;
    color: var(--White);
    font-weight: 500;
}

.menu-aberto > a:hover{
    text-decoration: underline;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    height: 87%;
}

section.hero{
    padding: 30px;
}

section.hero, .metric-item{
    border-bottom: 1px solid var(--Blue-400);
}

section.hero > h1{
    line-height: 1.2em;
    margin-bottom: 20px;
    font-size: 2.3em;
}

h1,
span.stat-value{
    color: var(--White);
    font-weight: 500;
}

section.hero > p,
h2{
    color:var(--Blue-200) ;
    font-size: 17px;
    line-height: 1.5em;
}

section.metrics{
    display: grid;
    grid-template-columns: 1;
}

.metrics h2{
    font-weight: 500;
}

article.metric-item{
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 170px;
    color: var(--Blue-200);
    font-size: 14px;
}

article.metric-item:hover{
    background-color: var(--Blue-600);
}

.metric-item > .stat-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.stat-header > span.stat-ico > img{
    width: 26px;

}

.stat-header > span.stat-value{
    font-size: 26px;
}

footer{
    display: flex;
    flex-direction: column;
    color: var(--Blue-200);
    font-size: 14px;
    padding: 20px;
    line-height: 1.5em;
    font-weight: 500;
}
